{% extends 'base.html' %}


{% block content %}
    <div class="container mt-5">
        <div class="card text-center">
            <div class="card-header">
                <h3 class="text-black">개발툴 세부사항</h3>
                <p class="text-black" style="font-weight: bold">제목: {{ develop.title }}</p>
            </div>
            <div class="card-body">


                <p>1) 개발툴 종류: {{ develop.tool }}</p>
                <p>2) 해당 개발툴 설명: {{ develop.kind }}</p>
                <p>3) 만들 수 있는 SW 목록 </p>
                {% for tool in id_tool %}
                    <div class="mb-3">
                    <a href="{% url 'idea:detail' tool.pk %}" 
                    >{{ tool.title }}</a>
                    </div>
                {% endfor %}
            <div class="mt-5"></div>
                <form action="{% url 'develop:delete' develop.pk %}" method="POST">
                    {% csrf_token %}
                    <button class="btn btn-danger mr-2" type="submit">삭제</button>
                    <a href="{% url 'develop:main' %}" class="btn btn-secondary mr-2">목록</a>
                    <a href="{% url 'develop:update' develop.pk %}" class="btn btn-primary mr-2">수정</a>
                 
                </form>


            </div>
        </div>
    </div>

{% endblock %}
