
{% extends 'header.html' %}

{% block content %}

<div class="home">
    <div class="container5">
        {% for list in review_list %}
            <a href="review/{{ list.id }}">
                <div class="movie">
                    <img src="{{ list.img_url.url }}" alt="스파맨">
                    <div class="movie-title">{{ list.title }}</div>
                    <div class="movie-info">
                        개봉년도: {{ list.year }}<br>
                        장르: {{ list.genre }}<br>
                        별점: {{ list.rate }}
                    </div>
                </div>
            </a>
        {% endfor %}

    </div>
</div>

{% endblock %}