{% extends 'header.html' %}

{% block content %}


<div class="container2">
    <div class="movie-header">
        <h1>{{ review.title }}</h1>
        <div class="actions">
            <a href="/review/{{ review.id }}/update">수정</a>
            <form action="/review/{{ review.id }}/delete" method="post">
                {% csrf_token %}
                <input type="submit" value="삭제">
            </form>

        </div>
    </div>
    <div class="movie-details">
        <div class="movie-poster">
            <img src="{{ review.img_url.url }}" alt="포스터 이미지" style="width: 100%; height: 100%; object-fit: cover;">
        </div>
        <div class="movie-info">
            <p><strong>개봉년도:</strong> {{ review.year }}</p>
            <p><strong>감독:</strong> {{ review.director }}</p>
            <p><strong>주연:</strong> {{ review.actor }}</p>
            <p><strong>장르:</strong> {{ review.genre }}</p>
            <p><strong>별점:</strong> {{ review.rate }}</p>
            <p><strong>러닝타임:</strong> {{ review.movie_time }}</p>
        </div>
    </div>
    <div class="movie-description">
        <p>{{ review.review }}</p>
    </div>
</div>
{% endblock %}