{% extends 'header.html' %}

{% block content %}

    <div class="update">
        <div class="container1">
            <h1>영화 리뷰 업데이트</h1>
            <form method="post" enctype="multipart/form-data" action="/review/{{ review.id }}/update">
                {% csrf_token %}
                <div class="form-group">
                    <label for="title">제목</label>
                    <input type="text" id="title" name="title" value="{{ review.title }}" required>
                </div>
                <div class="form-group">
                    <label for="review">리뷰</label>
                    <textarea id="review" name="review" rows="4"
                              required>{{ review.review }}</textarea>
                </div>

                <div class="form-group">
                    <label for="img_url">이미지</label>
                    <input type="file" id="img_url" name="img_url" accept="image/*" onchange="previewImage(event)"
                           style="display: none;">
                    <label for="img_url" style="cursor: pointer;">파일 선택</label>

                    {% if review.img_url %}
                        <img id="img_preview" src="{{ review.img_url.url }}" alt="미리보기"
                             style="margin-top: 10px; max-width: 200px;">
                    {% else %}
                        <img id="img_preview" src="" alt="미리보기"
                             style="margin-top: 10px; max-width: 200px; display: none;">
                    {% endif %}
                </div>


                <div class="form-group">
                    <label for="year">개봉년도</label>
                    <select id="year" name="year" required value="{{ review.title }}">
                        <option value="">선택하세요</option>

                        <script>
                            const currentYear = new Date().getFullYear();
                            const selectedYear = "{{ review.year }}";
                            for (let year = currentYear; year >= 2000; year--) {
                                const selected = year == selectedYear ? 'selected' : '';
                                document.write(`<option value="${year}" ${selected}>${year}</option>`);
                            }
                        </script>
                    </select>
                </div>
                <div class="form-group">
                    <label>장르</label>
                    <div class="radio-group">
                        <label><input type="radio" name="genre" value="액션" required
                                      {% if review.genre == '액션' %}checked{% endif %}> 액션</label>
                        <label><input type="radio" name="genre" value="드라마" required
                                      {% if review.genre == '드라마' %}checked{% endif %}> 드라마</label>
                        <label><input type="radio" name="genre" value="코미디" required
                                      {% if review.genre == '코미디' %}checked{% endif %}> 코미디</label>
                        <label><input type="radio" name="genre" value="로맨스" required
                                      {% if review.genre == '로맨스' %}checked{% endif %}> 로맨스</label>
                        <label><input type="radio" name="genre" value="공포" required
                                      {% if review.genre == '공포' %}checked{% endif %}> 공포</label>
                    </div>


                </div>
                <div class="form-group">
                    <label>별점</label>
                    <div class="rating-group">
                        <label><input type="radio" name="star" value="1" required
                                      {% if review.rate == '1점' %}checked{% endif %}> 1</label>
                        <label><input type="radio" name="star" value="2" required
                                      {% if review.rate == '2점' %}checked{% endif %}> 2</label>
                        <label><input type="radio" name="star" value="3" required
                                      {% if review.rate == '3점' %}checked{% endif %}> 3</label>
                        <label><input type="radio" name="star" value="4" required
                                      {% if review.rate == '4점' %}checked{% endif %}> 4</label>
                        <label><input type="radio" name="star" value="5" required
                                      {% if review.rate == '5점' %}checked{% endif %}> 5</label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="movie_time">영화 총 시간 (분)</label>
                    <input type="number" id="movie_time" min=0 name="movie_time"
                           value="{{ review.movie_time }}"
                           required>
                </div>
                <div class="form-group">
                    <label for="director">감독</label>
                    <input type="text" id="director" name="director" value="{{ review.director }}" required>
                </div>
                <div class="form-group">
                    <label for="actor">배우</label>
                    <input type="text" id="actor" name="actor" value="{{ review.actor }}" required>
                </div>
                <button type="submit" class="btn-submit">리뷰 업데이트</button>
            </form>
        </div>
    </div>

    <script>
        function previewImage(event) {
            const input = event.target;
            const preview = document.getElementById('img_preview');

            if (input.files && input.files[0]) {
                const reader = new FileReader();

                reader.onload = function (e) {
                    preview.src = e.target.result;
                    preview.style.display = 'block';
                };

                reader.readAsDataURL(input.files[0]);
            } else {
                preview.src = '{{ review.img_url }}';
                preview.style.display = preview.src ? 'block' : 'none';
            }
        }


    </script>
{% endblock %}