body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;

}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    padding: 8px 16px;
    background-color: #444;
    border-radius: 4px;
}

.navbar a:hover {
    background-color: #555;
}