
.search-bar {
    margin-bottom: 20px;
    text-align: center;
}

.search-bar form {
    display: inline-block;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-bar input[type="text"] {
    padding: 8px;
    margin-right: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    width: 200px;
}

.search-bar select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}

.search-bar button {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
}

.search-bar button:hover {
    background-color: #45a049;
}

.container5 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 80%;
    margin-top: 20px;
}

.movie {
    background: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.movie img {
    width: 100%;
    border-radius: 10px;
}

.movie-title {
    font-size: 18px;
    margin: 10px 0;
}

.movie-info {
    font-size: 14px;
    color: #555;
}

.review-button {
    margin: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.review-button:hover {
    background-color: #0056b3;
}


.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}